---
---

<!doctype html>

<html lang="cs">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="http://www.blanksite.cz/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{'assets/images/favicon.ico' | relative_url }}">
  <title>Site title</title>
  <meta name="description" content="Blanksite description">
  <meta name="author" content="Jaroslav Jerry Kameň">
  <link rel="stylesheet" href="{{'assets/css/main.css' | relative_url }}">
  <!--<link rel="stylesheet" type="text/css" href="{{'assets/css/blanksite.css' | relative_url }}"> -->
  <meta property="og:title" content="Blanksite OG title">
  <meta property="og:url" content="http://www.blanksite.cz/">
  <meta property="og:image" content="{{'/assets/images/blanksite-image.png' | relative_url }}">
  <meta property="og:description" content="Blanksite OG description">
</head>

<body>

    {{ content }}

</body>

</html>
